*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.formbody {
    background-color: #120241;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    border: 1px solid #dfdfdf;
    background-color: #fff;
  }
  
  .g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
  }
  .g-btn > div,
  .g-btn > div > svg {
    width: 40px !important;
    height: 38px !important;
  }
  
  link{
    text-decoration: none;
  }

  h3{
    color: white;
    background-color: none;}

  p{
    background-color: none;
  }
  /* @media only screen and (max-width:'600px'){
    .nav-collapse{
      height: '80vh',color:"white",display:'flex',alignItems:'center',justifyContent:'space-between',padding:'100px 0'
    }
  } */