@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.carousel{
    background-image: url('https://image.tmdb.org/t/p/w500/ulgKdif3ubMACDltr8VZy6fyVjW.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.carousel2{
    background-image: url('https://image.tmdb.org/t/p/w500/tUBN1paMQ1tmVA5Sjy1ZjPWVsiF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .home {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  *{
    font-family: 'Space Grotesk', sans-serif;
  }